.iconImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
} 



.iconDiv {
    width: 30px;
    height: 30px;
    border: 7px solid transparent;
    background-color: rgb(195, 191, 238);
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
} .iconDiv:hover {
    background-color: rgb(144, 0, 255);
}
.mainContainer {
    width: 100%;
    height: 100vh;
    background-color: transparent;
}
