.exit {
    display: flex;
}

.box {
    display: flexbox;
    width: 280px;
    padding: 10px;
    background-color: white;
    font-family: monospace;
    translate: -150px -150px;
    border-radius: 20px;
    border: 10px solid plum;
    margin: 10px;
    box-shadow: 0px 0px 10px black;
} .box>img {
    width: 130px;
    height: 130px;
} .box>p {
    font-size: larger;
} .box>h2 {
    font-size: large;
}

.category {
    padding: 5px;
    background-image: linear-gradient(130deg, rgb(223, 148, 223), rgb(154, 127, 227));
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
}

.categories {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: center; 
}

.need {
    padding: 7px;
    background-image: linear-gradient(130deg, rgb(180, 235, 195), rgb(136, 229, 93));
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
}


.exit {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.link {
    padding: 8px;
    background-color: rgb(242, 202, 137);
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
    border: 5px solid black;
    transition: 0.2s;
} .link:hover {
    background-color: rgb(255, 238, 0);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}