.main {
    width: 300px;
    height: 85vh;
    overflow-y: auto;
}

.charity {
    padding: 10px;
    background-color: lightgrey;
    margin: 10px;
    border-radius: 20px;
    font-family: monospace;
    transition: 0.3s;
} .charity>img {
    width: 100px;
    height: 100px;
} .charity>h2 {
    color: black;
    margin:10px;
} .description {
    font-weight: bolder;
} .charity:hover {
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
} .selected {
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 0px 10px black;
}

.categorya {
    padding: 5px;
    background-image: linear-gradient(130deg, rgb(223, 148, 223), rgb(154, 127, 227));
    font-weight: bold;
    font-size: smaller;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
}

.categories {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: center; 
    margin-top: 3px;
    margin-bottom: 10px;
}

.needs {
    width: max-content;
    padding: 6px;
    background-image: linear-gradient(70deg, rgb(243, 194, 16), rgb(255, 55, 0));
    font-weight: bold;
    font-size: smaller;
    border-radius: 10px;
    margin: 3px;
}

.descriptor {
    padding: 5px;
    background-image: linear-gradient(50deg, rgb(148, 221, 223), rgb(127, 227, 137));
    font-weight: bold;
    font-size: medium;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
    margin-bottom: 5px;
}
.linka {
    width: fit-content;
    padding: 6px 10px 6px 10px;
    background-color: rgb(242, 202, 137);
    font-weight: bold;
    font-size: medium;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
    border: 5px solid black;
    transition: 0.2s;
} .linka:hover {
    background-color: rgb(255, 238, 0);
    cursor: pointer;
}


.longDescription {
    background-image: linear-gradient(40deg, white, rgb(240, 240, 240));
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}